@import 'vars';
@import 'typography';
@import 'form';
@import 'nav';
@import 'splash';

html, body {
  font-family: $font-stack;
  font-weight: 300;
  height: 100%;
  color: $primary-color;
}

#root {
  height: 100%;
}

.app {
  text-align: center;
  height: 100%;
  width: 100%;
}


.logo {
  height: 80px;
}
