.email-form {
  position: relative;
  transition: $default-transition;
}

.form-inline {
  display: inline-block;
  border: solid 2px $white;
  border-radius: $border-radius;
  margin: 0 0 1em;
  position: relative;
  transition: $default-transition;

  .form-control {
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    border-radius: $border-radius;
    width: 450px;
    vertical-align: middle;
    height: 44px;
    background: rgba(23,208,183,.11);
    color: $white;
  }

}

.input {
  padding: 12px;
  height: auto;
  border-color: transparent;
  box-shadow: none;
  border-radius: $border-radius;
  outline: 0;


  &:active {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}


.form-group {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  transition: $default-transition;
  border-radius: $border-radius;
  font-weight: 300;
  background-color: $green;
  border: none;

  &:focus, &:hover {
    outline: 0;
    background-color: $dark-green; 
  }

  &:active, &.active {
    background-color: $dark-green;
    outline: 0;
    width: 100%;
  }
}

.btn-primary.active, .btn-primary:active, .btn-primary.hover, .btn-primary:hover, 
button.btn.btn-lg.btn-primary:hover {
  background-color: $dark-green;
}
