.navbar-default {
  background-color: transparent;
  border-bottom: none;
  margin: 0 auto;
  height: 150px;

  @media screen and (max-width: 480px) {
  }

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-nav {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 300;
}

.navbar-default .navbar-nav>li>a {
  color: $green;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $white;
  transition: $default-transition;
}


.navbar-brand {
  height: auto;
  padding: 30px 30px;
}

.navbar-default .navbar-toggle {
  border-color: $white;
  margin-top: 54px;
}

.navbar-default .navbar-toggle:hover {
  // border-color: $green;
  background-color: $green;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}


.navbar-default .navbar-toggle .icon-bar::hover {
  // background-color: $green;
}



.navbar .in, .navbar .collapsing {
  background-color: $white;
  transition: $default-transition;
}


.navbar-default .navbar-nav>li>a:hover {
  color: $dark-green;
}