$splash-width: 900px;

.splash {
  height: 100%;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash .content {
  margin: 0 auto;
  position: relative;
  width: $splash-width;
  max-width: 80%;
  color: #fff;
  top: 200px;
  @media screen and (max-width: 480px) {
    top: 150px;
  }
}

.splash h1 {
  @media screen and (max-width: 930px) {
    font-size: 48px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}


.splash h4{
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  line-height: 1.6em;
  @media screen and (max-width: 930px) {
    max-width: 80%;
  }

  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}


.splash .email-form {
  width: 450px;
  margin-top: 40px;
  margin: 40px auto 0 auto;

  h3 {
    margin-bottom: 15px;
    text-align: left;
  }

  @media screen and (max-width: 560px) {
    max-width: 80%;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
    max-width: 100%;
  }  
}


