// Colors
$green: #17D0B7;
$dark-green: #0EA08C;
$dark-gray: #2C3E50;
$white: #fff;

$primary-color: $dark-gray;
$link-color: $green;
$link-active-color: $white;

// Fonts
$font-stack: 'Roboto', sans-serif;

// Border radius
$border-radius: 100px;

$default-transition: 0.25s all ease-in;
